#solution-card{
    position: relative;
    height: 400px;
    background-image: url('https://duyhoaphat.vn/images/duyhoaphat.jpg');
    overflow: hidden;
    transition: 1.5s all ease;
    
    #solution-card-body{        
        
        #solution-card-body-title{
            position: relative;
            margin-top: 40px;      
            background-color: black;
            opacity: 0.5;   
        }      
        
        p{                
            font-size: 2rem;
            text-decoration: underline;
            color: white;
            text-align: center;
        }
    }

    #solution-card-body-description{
        position: relative;
        top:300px;
        
        p{
            font-size: large;
        }
        
        #item{
            text-decoration: none;
            
            p:hover {
                transition: 0.5s;
                font-size: 36px;
                background-color: white;
                opacity: 0.75;
            }
        } 
    }    

    &:hover{
        //opacity: 0.5; xxử lý text hiện rõ ràng không bị mờ

        #solution-card-body-description{
            height: 50%;
            transition: 1.5s all ease;
            transform: translateY(-300px);
        }
    }
}

#solution-child{
    height: 400px;

    #item{
        display: grid;
        align-content: center;
        transition: ease-out 1s;
        text-decoration: none;

        &:hover{
            
            content: '';
            position: relative;             
            justify-content: center;
            color: white;
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQm3Ez2qHsMI-nP3J6wj8mU9R_yp3ft5qppWA&usqp=CAU');
            background-position: center;
        }  
    }
}