#Sol_Contents{
    #title{
        a{
            text-decoration: none;
        }
    }
    
    img{
        height: 400px;
        border-radius: 10px;
    }
    
    #paragraph{
        padding-top: 10px;
        padding-left: 40px;
    }

    #Solution_contentImgs{
        width: 100%;
        max-height: 400px;
        border-radius: 10px;
    }
}
