// Body
$body-bg: #f8fafc;

// Pallete Color
$color-A: #003B6B;

$color-B:#47A3EE;
$color-C:#0081EA;
$color-D:#20496B;
$color-E:#0065B8;



// Typography
$font-family-sans-serif: 'Be Vietnam Pro', sans-serif;

$font-Thin: 100;
$font-Light: 300;
$font-Regular: 400;
$font-Bold: 700;

// Font-color
$font-color: black;
$logo-color: #032759;

$font-size-base: 0.9rem;
$line-height-base: 1.6;

